h1 {
    font-family: 'Courier New', Courier, monospace;
}

button {
    width: 300px;
    height: 50px;
    border-radius: 6px;
    margin: 4px;
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.add-to-cart {
    background-color: rgb(255, 230, 0);
    color: black;
}

.add-to-cart:hover {
    background-color: yellow;
}

.build-a-bundle {
    background-color: blue;
    color: white;
}

.build-a-bundle:hover {
    background-color: darkblue;
}

.save-for-later {
    background-color: white;
    color: blue;
}

.save-for-later:hover {
    background-color: darkblue;
    color: white;
}

